<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'"
      xmlns:bomfim="http://bomfim.com.br"
      xmlns:data="http://www.thymeleaf.org/extras/data"

>

<head>
    <title>Cadastro Locatário</title>
    <link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>

</head>

<body>
    <section layout:fragment="conteudo">
        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="col-xs-2">
                            <div class="aw-page-header-controls">
                                <a class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                    <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">novo locatário</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Cadastrar Locatário</h4>
                    </div>
                    <form method="POST" th:object="${locatario}" class="form-vertical  js-form-loading" th:action="@{/locatario/novo}">
                        <bomfim:message/>
                        <input type="hidden" th:field="*{codigo}"/>
                        <!--<input type="hidden" th:field="*{aluguel}"/>-->
                        <div class="col-sm-12  form-group bw-required">
                            <label for="nome" class="control-label">Nome</label>
                            <input id="nome" type="text" class="form-control" th:field="*{nome}" maxlength="100" />
                        </div>
                        <div class="col-sm-12  form-group bw-required">
                            <label for="CPF" class="control-label" >CPF</label>
                            <input id="CPF" type="text" class="form-control js-mascara-cpf" th:field="*{cpf}" maxlength="14" />
                        </div>
                        <div class="col-sm-12  form-group bw-required">
                            <label for="telefone" class="control-label" >Telefone</label>
                            <input id="telefone" type="text" class="form-control js-phone-number" th:field="*{telefone}" maxlength="15" />
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-link  btn-xs js-tooltip js-exclusao-btn pull-left"
                               data-toggle="modal"
                               title="Excluir" href="#"
                               data:url="@{/imovel/aluguel/{codigo}(codigo=${locatario.codigo})}"
                               data:codigo="${locatario.codigo}" data:objeto="${locatario.nome}">
                                <font color="#009900">
                                    <i class="btn js-tooltip btn-danger"> Excluir</i>
                                </font>
                            </a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-success" >Salvar</button>
                        </div>

                    </form>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </section>

</body>

</html>