<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'"
      xmlns:bomfim="http://bomfim.com.br">

<head>
    <title>Relatório - Imóvel</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <h1>
                Relatório Geral dos Imóveis
            </h1>
        </div>
    </div>

    <div class="container-fluid">
        <form method="POST" th:object="${periodoRelatorioDTO}" th:action="@{/relatorios/gastosImovel}"
              target="_blank">

            <bomfim:message/>
            <div class="form-group col-sm-12" bomfim:classforerror="dataInicio">
                <div class="col-sm-8">
                    <div class="row" bomfim:classforerror="dataInicio">
                        <label class="col-sm-3" style="text-align: right" for="dataInicio">Data da mensalidade: </label>
                        <div class="form-inline">
                            <input type="text" class="form-control  js-date aw-form-control-inline-sm"
                                   id="dataInicio" th:field="*{dataInicio}" autocomplete="off"/>
                            <label class="aw-form-label-between">a</label>
                            <input type="text" class="form-control  js-date js-date aw-form-control-inline-sm"
                                   id="dataFim" th:field="*{dataFim}" autocomplete="off"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-8" style="text-align: right">Exibir os excluidos?</label>
                    <div class="form-inline">
                        <input type="checkbox"
                               th:field="*{mostrarExcluidos}"
                              th:value="${mostrarExcluidos}">
                    </div>
                </div>
            </div>
            <button class="btn  btn-primary pull-right" type="submit" target="blank_">Emitir</button>
        </form>
    </div>
</section>

</html>