<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<body>
<nav class=" navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" style="background-color:black" th:fragment="barraNavegacao">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand  hidden-xs" th:href="@{/}" >
				<font color="#009900">
					<i class="fa  fa-fw  fa-home"></i>
					<b>Im&oacute;velControl</b>
				</font>
			</a>
			<ul class="nav  navbar-nav">
				<li>
					<a href="#" class="js-sidebar-toggle">
						<i class="fa  fa-bars"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="pull-right">
			<div class="row">
				<div class="navbar-header dropdown">
					<div class=" btn navbar-brand" type="button" data-toggle="dropdown">
						<em th:text="${#authentication.principal.usuario.nome}"></em>
						<font color="green"><em class="glyphicon glyphicon-cog"></em>
							<span class="caret"></span>
						</font>
					</div>
					<ul class="dropdown-menu">
						<li><a th:href="@{/usuario/alterarsenha}">Alterar senha</a></li>
						<li><a th:href="@{/usuario/editar}">Editar Perfil</a></li>
						<li role="presentation" class="divider"></li>
						<li>
							<a th:href="@{/logout}"><em class="glyphicon glyphicon-off"></em> Sair</a>
						</li>
					</ul>
				</div>
				<div class="pull-right">
					<a class="navbar-brand " th:href="@{/logout}">
						<font color="#009900">
							<em class="fa  fa-sign-out"></em>
						</font>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
</body>
</html>
	