<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:bomfim="http://bomfim.com.br" xmlns:sec="http://www.w3.org/1999/xhtml">

<aside class="aw-layout-sidebar  js-sidebar" th:fragment="barraLateral">
    <div class="aw-layout-sidebar__content">

        <nav class="aw-menu  js-menu">
            <ul class="aw-menu__list">


                <li class="aw-menu__item">
                    <a th:href="@{/dashboard}"><i class="fa  fa-fw fa fa-line-chart"
                                                  bomfim:menu="@{/dashboard}"></i><span>Dashboard</span></a>
                </li>
                <li class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw fa fa-home" bomfim:menu='@{/imovel}'></i><span>Imóvel</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link " bomfim:menu='@{/imovel/pesquisar}'>
                            <a th:href="@{/imovel/pesquisar}"><i class="fa fa-search"></i>Pesquisa de Imóveis
                            </a>
                        </li>
                        <li class="aw-menu__item  aw-menu__item--link " bomfim:menu='@{/imovel/novo}'>
                            <a th:href="@{/imovel/novo}"><i class="fa fa-plus-circle"></i>Cadastro de Imóvel
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="aw-menu__item">
                    <a href="#">
                        <i class="fa fa-file-text-o"></i><span>Relatórios</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" bomfim:menu='@{/relatorios/geral}'>
                            <a th:href="@{/relatorios/geral}"><i class="fa fa-file-text "></i>Relatórios
                                Geral</a>
                        </li>
                    </ul>
                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" bomfim:menu='@{/relatorios/detalhado}'>
                            <a th:href="@{/relatorios/detalhado}"><i class="fa fa-file-text "></i>Relatórios
                                Detalhado</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_LISTAR_USUARIO')" class="aw-menu__item">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text glyphicon glyphicon-globe"></i><span>Privado</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link" bomfim:menu='@{/usuario}'>
                            <a th:href="@{/usuario/pesquisar}"><i class="fa fa-user"></i>Pesquisar Usuario</a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasRole('ROLE_LISTAR_USUARIO')" class="aw-menu__item  ">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i><span>Páginas úteis</span>
                        <i class="aw-menu__navigation-icon  fa"></i>
                    </a>

                    <ul class="aw-menu__list  aw-menu__list--sublist">
                        <li class="aw-menu__item  aw-menu__item--link"><a th:href="@{/esqueciminhasenha}"><i
                                class="fa fa-question-circle"></i>Esqueceu a
                            senha</a></li>
                        <li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li>
                        <li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li>
                        <li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

    </div>
</aside>

</body>
</html>
	