<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'"
      xmlns:bomfim="http://bomfim.com.br"
      xmlns:data="http://www.thymeleaf.org/extras/data">

<body>
<div th:fragment="cadastroAluguel">
    <form method="POST" th:object="${aluguel}"
          class="form-vertical  js-form-loading" th:action="@{/imovel/aluguel/novo}">
        <bomfim:message/>


        <input th:hidden="true" type="text" th:field="*{codigo}">
        <input th:hidden="true" type="text" th:field="*{formaPagamento.codigo}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Dados do Aluguel</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group  col-sm-12 bw-required" bomfim:classforerror="nome">
                        <label class="control-label" for="complemento">Nome do Aluguel</label> <input
                            type="text" class="form-control" maxlength="100" th:field="*{nome}" id="nome"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label class="control-label" for="complemento">Complemento</label>
                        <textarea rows="4" cols="50" class="form-control" maxlength="200"
                                  th:field="*{complemento}" id="complemento"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Dados do Tipo do Imóvel</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group  col-sm-12 bw-required"
                         bomfim:classforerror="tipoImovel">
                        <label class="control-label">Tipo do imóvel</label>
                        <div>
                            <th:block th:each="tipoImovel : ${tiposImoveis}">
                                <div class="radio  radio-inline">
                                    <input type="radio" th:id="|id_${tipoImovel.codigo}|"
                                           name="tipoImovel" th:value="${tipoImovel}"
                                           class="js-radio-tipo-imovel" th:field="*{tipoImovel}"
                                           data:documento="${tipoImovel.descricao}"> <label
                                        class="control-label" th:for="|id_${tipoImovel.descricao}|"
                                        th:text="${tipoImovel.descricao}">Casa</label>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="tamanhoArea">Tamanho da área</label>
                        <div class="input-group">
                            <input type="text" class="form-control js-plain"
                                   th:field="*{tamanhoArea}" id="tamanhoArea" maxlength="6"/>
                            <div class="input-group-addon">Metros²</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-4  js-quarto" style="display: none;">
                        <label class="control-label" for="tamanhoArea">Numero de quartos</label>
                        <div class="input-group col-sm-12 col-xs-12">
                            <input type="text" class="form-control js-plain js-quarto"
                                   th:field="*{quantidadeQuartos}" id="quantidadeQuartos" maxlength="2"/>
                        </div>
                    </div>
                    <div class="form-group  col-sm-4  js-banheiro" style="display: none;">
                        <label class="control-label" for="tamanhoArea">Numero de banheiros</label>
                        <div class="input-group col-sm-12 col-xs-12">
                            <input type="text" class="form-control js-plain js-banheiro"
                                   th:field="*{quantidadeBanheiros}" id="quantidadeBanheiros" maxlength="2"/>
                        </div>
                    </div>
                    <div class="form-group  col-sm-4  js-suites" style="display: none;">
                        <label class="control-label" for="suites">Numero de Suítes</label>
                        <div class="input-group col-sm-12 col-xs-12">
                            <input type="text" class="form-control js-plain  js-suites"
                                   th:field="*{suites}" id="suites" maxlength="2"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-4  js-forro" style="display: none;">
                        <label class="control-label" for="tamanhoArea">Tipo de Forro</label>
                        <div class="input-group col-sm-12 col-xs-12">
                            <select id="tipoForro" class="form-control js-forro" th:field="*{tipoForro}">
                                <option value="">Tipo de Forro</option>
                                <option th:each="tipoForro : ${tiposForro}" th:value="${tipoForro}"
                                        th:text="${tipoForro.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  col-sm-4  js-piso" style="display: none;">
                        <label class="control-label" for="tamanhoArea">Tipo de Piso</label>

                        <select id="tipoPiso" class="form-control js-piso" th:field="*{tipoPiso}">
                            <option value="">Tipo de Piso</option>
                            <option th:each="tipoPiso : ${tiposPiso}" th:value="${tipoPiso}"
                                    th:text="${tipoPiso.descricao}"></option>
                        </select>
                    </div>
                    <div class="form-group  col-sm-4  js-vaga" style="display: none;">
                        <label class="control-label" for="tamanhoArea">Numero de Vagas na Garagem</label>
                        <div class="input-group col-sm-12 col-xs-12 ">
                            <input type="text" class="form-control js-plain js-vaga"
                                   th:field="*{vagasGaragem}" id="vagasGaragem" maxlength="2"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Informaçoes sobre recebimento do Aluguel</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group  col-sm-4 bw-required" bomfim:classforerror="formaPagamento.valor">
                        <label class="control-label" for="valor">Valor Mensal</label>
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            <input type="text" class="form-control js-decimal" maxlength="10"
                                   th:field="*{formaPagamento.valor}" id="valor"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                      <div class="form-group col-sm-2">
                        <div>
                            <label class="control-label">É necessario pagar?</label>
                        </div>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label class="control-label">Água</label>
                        <div>
                            <input type="checkbox" class="js-status"
                                   th:field="*{formaPagamento.aguaInclusa}" data-size="small"
                                   data-off-color="danger" data-on-text="Sim" data-off-text="Nao">
                        </div>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label class="control-label">Luz</label>
                        <div>
                            <input type="checkbox" class="js-status"
                                   th:field="*{formaPagamento.luzInclusa}" data-size="small"
                                   data-off-color="danger" data-on-text="Sim" data-off-text="Nao">
                        </div>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label class="control-label">Internet</label>
                        <div>
                            <input type="checkbox" class="js-status"
                                   th:field="*{formaPagamento.internetInclusa}" data-size="small"
                                   data-off-color="danger" data-on-text="Sim" data-off-text="Nao">
                        </div>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label class="control-label">IPTU</label>
                        <div>
                            <input type="checkbox" class="js-status"
                                   th:field="*{formaPagamento.iptuIncluso}"
                                   data-size="small" data-off-color="danger" data-on-text="Sim"
                                   data-off-text="Nao">
                        </div>
                    </div>
                    <div class="form-group  col-sm-2">
                        <label class="control-label">Condominio</label>
                        <div>
                            <input type="checkbox" class="js-status"
                                   th:field="*{formaPagamento.possuiCondominio}"
                                   data-size="small" data-off-color="danger" data-on-text="Sim"
                                   data-off-text="Nao">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: right">
            <a class="btn btn-default" href="#"
               th:href="@{/imovel/aluguel/{codigo}(codigo=${aluguel.imovel.codigo})}">Cancelar</a>
            <button type="submit" class="btn btn-primary ">Salvar</button>
        </div>
    </form>
</div>

</body>

</html>