<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'"
      xmlns:bomfim="http://bomfim.com.br"
      xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
    <title>Pesquisa de Alugueis</title>

</head>

<body>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de Alugueis</h1>
                </div>
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-default" th:href="@{/imovel/pesquisar}"> <i
                                class="glyphicon glyphicon-arrow-left"></i> <span
                                class="hidden-xs  hidden-sm">Voltar para os Imóveis</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <button class="btn btn-default" data-toggle="collapse"
                data-target="#novoAluguel">
            Adicionar novo Aluguel <i class="glyphicon  glyphicon-plus-sign"></i>
        </button>
        <br></br>
        <div id="novoAluguel" class="collapse">
            <div th:replace="tipoImovel/CadastroRapidoAluguel :: cadastroAluguel"></div>
        </div>
        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th>
                        <span th:if="${pagina.vazia}">Nome</span>
                        <bomfim:order page="${pagina}" field="nome" text="Nome"/>
                    </th>
                    <th>
                        <span th:if="${pagina.vazia}">Tipo do Imovel</span>
                        <bomfim:order page="${pagina}" field="tipoImovel" text="Tipo do Imóvel"/>
                    </th>
                    <th> Valor </th>
                    <th >Locatário </th>
                    <th class="table-col-acoes-alguel"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="aluguel : ${pagina.conteudo}">

                    <td th:text="${aluguel.nome}">Aluguel Taguatinga</td>
                    <td th:text="${aluguel.tipoImovel.descricao}">Casa</td>
                    <td th:text="${aluguel.valorFormat}">R$:10,00</td>
                    <td th:text="${aluguel.locatorioAtual}">Thiago</td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs  js-tooltip" title="Editar"
                           th:href="@{/imovel/aluguel/editar/{codigo}(codigo=${aluguel.codigo})}">
                            <font color="#009900">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </font>
                        </a>
                        <a class="btn  btn-link  btn-xs js-tooltip   js-exclusao-btn"
                           title="Excluir" href="#"
                           data:url="@{/imovel/aluguel/{codigo}(codigo=${aluguel.codigo})}"
                           data:codigo="${aluguel.codigo}" data:objeto="${aluguel.nome}">
                            <font color="#009900">
                                <i class="glyphicon glyphicon-remove"></i>
                            </font>
                        </a>
                        <a th:if="${!aluguel.isAlugado()}" href="#" data-toggle="modal" title="Adicionar Locatario"
                           class="btn  btn-link  btn-xs js-tooltip  js-modal-locatario"
                           data:codigo="${aluguel.codigo}">
                            <font color="#e00000">
                                <i class="fa fa-exclamation-triangle"></i>
                            </font>
                        </a>
                        <a th:if="${aluguel.isAlugado()}" href="#" data-toggle="modal" title="Aluguel está alugado"
                           class="btn  btn-link  btn-xs js-tooltip  js-modal-locatario"
                           data:codigo="${aluguel.codigo}">
                            <font color="#009900">
                                <i class="fa fa-male"></i>
                            </font>
                        </a>
                        <a th:if="${!aluguel.isPago()}" href="#" data-toggle="modal" title="Registrar informações pagamento"
                           class="btn  btn-link  btn-xs js-tooltip js-modal-pagamento"
                           data:codigo="${aluguel.codigo}">
                            <font color="#e00000">
                                <i class="fa fa-exclamation-triangle"></i>
                            </font>
                        </a>

                        <a th:if="${aluguel.isPago()}" href="#" data-toggle="modal" title="Mensalidade paga"
                           class="btn  btn-link  btn-xs js-tooltip js-modal-pagamento"
                           data:codigo="${aluguel.codigo}">
                            <font color="#009900">
                                <i class="fa fa-money"></i>
                            </font>
                        </a>

                    </td>
                </tr>
                <tr th:if="${pagina.vazia}">
                    <td colspan="3">Nenhum Aluguel encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>
        <bomfim:pagination page="${pagina}"/>

    </div>
    <div th:replace="locatario/ModalCadastroLocatario :: modalCadastro"></div>
    <div th:replace="tipoImovel/ModalCadastroDadosPagamento :: modalCadastroPagamento"></div>


</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/change-tipo-imovel.js}"></script>
    <script th:src="@{/javascripts/locatario.cadastro-rapido.js}"></script>
    <script th:src="@{/javascripts/dados.pagamento.cadastro-rapido.js}"></script>

</th:block>

</body>

</html>