<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>DashBoard</title>

    <style>
        .ic-styleButton {
            margin: 15px;
        }
    </style>
</head>

<section layout:fragment="conteudo">


    <div class="page-header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <h1>
                        Imóvel Control
                    </h1>
                </div>
                <div class="col-sm-2" id="tutorialContainer" style="display: none;">
                    <div class="aw-page-header-controls">
                        <button type="button" class="btn btn-info"
                                data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-video-camera" aria-hidden="true">  Tutorial</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div style="text-align: center;">
            <button class="btn btn-primary  ic-styleButton" id="pizzaBtn" style="display: none;">Gráfico de Pizza</button>
            <button class="btn btn-danger  ic-styleButton" id="colunaBtn" style="display: none;">Gráfico de Colunas</button>
            <div class="row">
                <div class="row" style="color:red" th:hidden="true" th:id="mensagemErro">
                    <h1>Nenhuma informação de pagamento encontrada!
                        <h2> Não foi possível gerar o gráfico!</h2>
                    </h1>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="chart" style="height: 400px;"></div>

                </div>
            </div>
        </div>


    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" data-backdrop="static" data-toggle="modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        Tutorial
                    </h4>
                </div>
                <div class="modal-body" style="height:320px">
                    <div align="center" >
                        <video controls style="height:300px" class="col-sm-12 col-xs-12 col-lg-12 col-md-12" >
                            <source th:src="@{/video/Tutorial.mp4}" type="video/mp4">
                            <source th:src="@{/video/Tutorial.mp4}" type="video/ogg">
                            Seu browser não suporta o video.
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>


</section>

<th:block layout:fragment="javascript-extra">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/javascripts/dashboard.graficos.js}"></script>


</th:block>


</html>